header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1500px;
    padding: 0 20px;
}

.header-links {
    display: flex;
    gap: 30px;
}

.header-links button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    &:active {
        opacity: 0.6;
    }
}

header h2 {
    font-size: 24px;
}

header h1 {
    color: #e53939;
    font-size: 30px;
}

header h2 span {
    color: #e53939;
}
