footer {
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    background-color: #000;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content div {
    display: flex;
    gap: 10px;
}

.footer-content div span {
    color: #fff;
    font-weight: bold;
}

.footer-content div p {
    color: #fff;
}

.footer-content div a {
    color: #fff;
}